.curved {
  position: absolute;
  right: 20px;
  bottom: 0;
  transform: translateY(50%);
  z-index: 5;
  width: 180px;
  height: 180px;

  & &__text {
    -webkit-animation: spin 20s linear infinite;
    -moz-animation: spin 20s linear infinite;
    animation: spin 20s linear infinite;
  }

  & &__label {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: $brand;
    letter-spacing: 0.065em;
  }

  @media screen and (min-width: $tablet) {
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
  }
  @media screen and (min-width: $desktop) {
    left: 50%;
    top: 200px;
    transform: translate(-50%, 0);
    width: 240px;
    height: 240px;
    
    & &__label {
      font-size: 43px;
    }
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}