.menu-btn {
  width: 45px;
  height: 45px;
  @extend %flex-center;
  @extend %reset-btn-styles;
  
  &:active {
    transform: scale(0.9);
  }

  & &__icon {
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: auto;
  }

  & &__line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: $brand;
    stroke-width: 5.5;
    stroke-linecap: round;
  }

  & &__line--top {
    stroke-dasharray: 40 172;
  }

  & &__line--middle {
    stroke-dasharray: 40 111;
  }

  & &__line--bottom {
    stroke-dasharray: 40 172;
  }

  .active .menu-btn__line--top {
    stroke-dashoffset: -132px;
  }

  .active .menu-btn__line--middle {
    stroke-dashoffset: -71px;
  }

  .active .menu-btn__line--bottom {
    stroke-dashoffset: -132px;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}