.contact {
  text-align: center;
  & &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    @extend %bg-box-shadow;
  }
  & &__title {
    text-align: center;
  }
}