%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%reset-btn-styles {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
 // transition: $transition;
  cursor: pointer;
}