// BREAKPOINTS
$mobile: 360px;
$tablet: 768px;
$desktop: 1920px;

// COLORS
$primary: #FFFFFF;

$brand: #00D5E4;

$grayScale-1: #F5F5F5;
$grayScale-2: #B2A8A8;
$grayScale-3: #575555;
$grayScale-4: #2D2D2D;
$grayScale-5: #0C0A0A;

// // // GRADIENTS
// // $gradient: linear-gradient(90deg, #21A5B5 0%, #71B2B4 100%);

// // TRANSITIONS
// $transition: all 250ms ease-in-out;