body {
  font-family: 'Rubik', sans-serif;
  color: $primary;
  background-color: $grayScale-4;
}

#root {
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  // background-image: url('../../assets/svg/ellipse.svg');
  // background-repeat: no-repeat;
  // background-position: top right;
  // background-size: cover;
}

.prevent-scroll {
  @media screen and (max-width: 767px) {
    max-height: 100vh;
    overflow: hidden;
  }
}